/* ################################## GLOBAL STYLES ################################## */

body { margin: 0; border: 0; }
div.container { margin-bottom: 2em; }
main { margin-top: 1em!important; padding-bottom: 1em; }

.gsc-control-cse { border: none; background-color: transparent; }
.gsc-search-button-v2 { padding: 6px 8px; }

/* Type styles */
h1 { font: bold 2rem Arial, sans-serif; }
h2 { font: bold 1.5rem Arial, sans-serif; padding-top: 0.75em; }
h2:not(:first-child), #cards-container section:not(:first-child), h2.h2-border { margin-top: 1em; border-top: 1px solid #D79E61; }
h3 { font: bold 1.25rem Arial, sans-serif; padding-top: 0.5em; }
h4 { font: bold 1.1rem Arial, sans-serif; padding-top: 0.5em; }
h5 { font: bold 1rem Arial, sans-serif; padding-top: 0.25em; }

img.logo { max-width: 2em; height: auto; }
.copyright { position: fixed; z-index: 1; bottom: 1em; left: 1em; color: #737373; font-size: 0.85em; display: none; max-width: 15%; }
.navbar-brand { margin-right: 0; }
.navbar-text h1 { text-align: left; font: bold 1rem Arial, sans-serif; color: white; margin: 0 1em; }

#btn-back-to-top { position: fixed; bottom: 20px; right: 20px; z-index: 10; display: none; width: 2.5em; height: 2.5em; border: 2px solid white; border-radius: 50%; box-shadow: 0 0 10px gray;  background-color: #B36F37; color: white; padding: 0; }
#btn-back-to-top svg { vertical-align: baseline; }
#btn-back-to-top:focus, #btn-back-to-top:hover, #btn-back-to-top:active { background-color: #28814C; }

.btn-primary { background-color: #28814C; border-color: #28814C; }
.btn-primary:focus, .btn-primary:hover, .btn-primary:active { background-color: #B36F37; border-color: #B36F37; } 

.sidebar-sticky { padding-top: 1.5rem; }
.sidebar-sticky>ul.flex-column { margin-bottom: 1em; }
.sidebar-sticky>ul.flex-column li.nav-item { font-size: 1rem; font-weight: bold; }
.sidebar-sticky>ul.flex-column li.nav-item a.nav-link { padding-left: 1.5rem }
.sidebar-heading { font-size: 1rem; }
li.nav-item a.nav-link { color: #333333!important; }
li.nav-item a.nav-link.active { color: #B36F37!important; position: relative; }
li.nav-item a.nav-link.active::before { content: '\25A0'; position: absolute; left: -0.75rem; }
li.nav-item a.nav-link#nav-home.active::before { content: '\25A0'; position: absolute; left: 0.4rem; }
li.nav-item a.nav-link { padding: 0 0 0.75rem 0.25rem; line-height: 1rem; }
li.nav-item a.nav-link:focus, li.nav-item a.nav-link:hover { text-decoration: underline; color: #B36F37; }
.nav { display: block; }
nav.mobile-nav { position: fixed; top: 56px; z-index: 100; border-bottom: 1px solid lightgray; }
#navbar-container-mbl .sidebar-heading { font-size: 1.25rem; }
#navbar-container-mbl li.nav-item a.nav-link { font-size: 1rem; }
h2.accordion-header { margin: 0!important; padding: 0!important; }
.accordion-item { position: relative; z-index: 2; }

figure img { max-width: 100%; }
figure figcaption { text-align: center; max-width: 80%; margin: 0 auto; font-size: 0.9em; }

.quotes-container { margin-top: 1em; }
.quotes-container .grid-item { border: 1px solid lightgray; border-radius: 5px; padding: 1em; margin: 1em; width: 430px; }
.quotes-container blockquote { font-size: 1.1em; }
.quotes-container blockquote::before { content: "\201C"; }
.quotes-container blockquote::after { content: "\201D"; }
.quotes-container figcaption { font-size: 0.85em; text-align: left; margin-left: 2em; color: slategray; }
.quotes-container figcaption::before { content: "\2014"; }

.sources h2 { font-size: 1.25em; border-top: 1px solid #D79E61; margin-top: 2em; }
.sources p { font-size: 0.9em; margin-left: 3em; text-indent: -3em; }

table.cursors tr>th:first-child { vertical-align: middle; --bs-table-accent-bg: none; border-right: 1px solid black; border-bottom: 1px solid black; white-space: nowrap; }
table.cursors tr>td:last-child { white-space: nowrap; }
table.cursors tr.section-end { border-bottom: 1px solid black; }

/* ################################## GENERAL STYLES ################################## */

#qa-qc-container { margin-top: 1em; }
#qa-qc-container .form-check { margin-left: 1.5em; }
#qa-qc-container h2 { padding-top: 0.25em; }
table.definitions td:nth-of-type(1) { font-weight: bold; white-space: nowrap; }
.stats-chart { width: 100%; height: auto; }
#color-palette { text-align: center; }
#color-palette p { line-height: 2.5em; }
#color-palette span { border: 1px solid black; padding: 4px 8px; }
.form-table th:nth-of-type(even), .form-table td:nth-of-type(even) { display: none; }

/* ################################ CODE MARKUP STYLES ################################ */

.code-blocks {  }
.code-blocks .col pre { border: 1px solid lightgray; background-color: #fbfbfb; padding: 0.5em; white-space: pre-wrap; overflow-y: scroll; height: 300px; }
.code-blocks span.tag-purple { color: #ad01a0; }
.code-blocks span.tag-ltpurple { color: #b64ce1; }
.code-blocks span.tag-orange { color: #d36100; }
.code-blocks span.tag-ltorange { color: #ca770a; }
.code-blocks span.tag-blue { color: #0404d3; }
.code-blocks span.tag-cyan { color: #008bc9; }
.code-blocks span.tag-green { color: #00b776; }

/* ################################## MEDIA QUERIES ################################## */

@media only screen and (min-width: 576px) {
	#color-palette { text-align: left; }
	#color-palette p { line-height: 1.5em; }
}

@media only screen and (min-width: 768px) {
	main { margin-top: 1em!important; }
	.copyright { display: block; }
}

@media only screen and (min-width: 900px) {
	.form-table th:nth-of-type(4), .form-table td:nth-of-type(4) { display: table-cell; }
}

@media only screen and (min-width: 1200px) {
	.form-table th:nth-of-type(even), .form-table td:nth-of-type(even) { display: table-cell; }
}

/* ################################# BOX MODEL STYLES ################################# */

.box-content { padding: 20px;background-color: #a0c6e8; border: 1px solid black; text-align: center; }
.box-padding { padding: 15px; background-color: #c4dfb8; border: 1px dashed black; }
.box-border { padding: 3px; background-color: #ffeebc; border: 1px solid black; }
.box-margin { padding: 15px; background-color: #f9cc9d; border: 1px dashed black; }

/* ################################## FLEXBOX STYLES ################################## */

#flexbox-container h2 { text-align: center; padding-top: 1em; }
#flexbox-container h3 { text-align: center; padding-top: 0; font-weight: normal; }

/* Flex containers */
.flex-example .flex-example { margin-bottom: 1em; }
.flex-example .flex { display: flex; background: lightgray; height: 100px; flex-wrap: wrap; }
.flex-example .flex.items.align, .flex.item-specific.align { justify-content: space-evenly; }
.flex-example .box { padding: 0.5em; color: white; font: bold 1rem Arial; text-align: center;}

/* Flex box items */
.flex-example .content.justify .box { background-color: dodgerblue; border: 1px solid #1a82f0; align-self: stretch; }
.flex-example .content.align .box { background-color: darkkhaki; border: 1px solid #a9a668; }
.flex-example .items.align .box { background-color: darkseagreen; border: 1px solid #7aaf7a; }
.flex-example .item-specific.align .box { background-color: lightcoral; border: 1px solid #ec5f5f; }
.flex-example .flex-flow-ex .box { background-color: thistle; border: 1px solid #cfb0cf; }
.flex-example .flex-shorthand-ex .box { background-color: lightsalmon; border: 1px solid #ff9166; }

/* Flex examples */
.flex-example .content.justify.start { justify-content: flex-start; }
.flex-example .content.justify.end { justify-content: flex-end; }
.flex-example .content.justify.center { justify-content: center; }
.flex-example .content.justify.between { justify-content: space-between; }
.flex-example .content.justify.around { justify-content: space-around; }
.flex-example .content.justify.evenly { justify-content: space-evenly; }

.flex-example .content.align.start { align-content: flex-start; }
.flex-example .content.align.end { align-content: flex-end; }
.flex-example .content.align.center { align-content: center; }
.flex-example .content.align.between { align-content: space-between; }
.flex-example .content.align.around { align-content: space-around; }
.flex-example .content.align.evenly { align-content: space-evenly; }

.flex-example .items.align.start { justify-content: space-evenly; align-items: flex-start; }
.flex-example .items.align.end { justify-content: space-evenly; align-items: flex-end; }
.flex-example .items.align.center { justify-content: space-evenly; align-items: center; }
.flex-example .items.align.stretch { justify-content: space-evenly; align-items: stretch; }
.flex-example .items.align.baseline { justify-content: space-evenly; align-items: baseline; }
.flex-example .items.align.baseline .box:nth-of-type(1) { font-size: 2rem; }
.flex-example .items.align.baseline .box:nth-of-type(2) { font-size: 1.5rem; }

.flex-example .item-specific.align .start { align-self: flex-start; }
.flex-example .item-specific.align .end { align-self: flex-end; }
.flex-example .item-specific.align .center { align-self: center; }
.flex-example .item-specific.align .stretch { align-self: stretch; }

.flex-example .flex-flow-ex.ex-wrap { flex-wrap: wrap; }
.flex-example .flex-flow-ex.ex-wrap-rev { flex-wrap: wrap-reverse; }
.flex-example .flex-flow-ex.ex-row { flex-direction: row; }
.flex-example .flex-flow-ex.ex-row-rev { flex-direction: row-reverse; }
.flex-example .flex-flow-ex.ex-col { flex-direction: column; }
.flex-example .flex-flow-ex.ex-col-rev { flex-direction: column-reverse; }

.flex-example .flex-shorthand-ex.shrink, .flex-shorthand-ex.basis, .flex-shorthand-ex.shorthand { flex-wrap: nowrap; }
.flex-example .flex-shorthand-ex.grow .grow-1 { flex-grow: 1; }
.flex-example .flex-shorthand-ex.grow .grow-2 { flex-grow: 2; }
.flex-example .flex-shorthand-ex.grow .grow-3 { flex-grow: 3; }
.flex-example .flex-shorthand-ex.shrink .box { width: 40%; }
.flex-example .flex-shorthand-ex.shrink .shrink-1 { flex-shrink: 1; }
.flex-example .flex-shorthand-ex.shrink .shrink-2 { flex-shrink: 2; }
.flex-example .flex-shorthand-ex.shrink .shrink-3 { flex-shrink: 3; }
.flex-example .flex-shorthand-ex.shrink .shrink-0 { flex-shrink: 0; }
.flex-example .flex-shorthand-ex.basis .box:nth-of-type(1) { flex-basis: 300px; }
.flex-example .flex-shorthand-ex.basis .box:nth-of-type(2) { flex-basis: 20%; }
.flex-example .flex-shorthand-ex.basis .box:nth-of-type(3) { flex-basis: 600px; }
.flex-example .flex-shorthand-ex.basis .box:nth-of-type(4) { flex-basis: auto; }
.flex-example .flex-shorthand-ex.shorthand .box:nth-of-type(1) { flex: 1 0 200px; }
.flex-example .flex-shorthand-ex.shorthand .box:nth-of-type(2) { flex: 0 3 20%; }
.flex-example .flex-shorthand-ex.shorthand .box:nth-of-type(3) { flex: 2 1 200px; }
.flex-example .flex-shorthand-ex.shorthand .box:nth-of-type(4) { flex: 4 1 auto; }

/* ################################## CSS GRID STYLES ################################## */

.fields-grid { display: grid; max-width: 800px; max-height: 600px; grid-template: repeat(10, 1fr) / repeat(16, 1fr); grid-gap: 10px; }
.fields-grid div { background-color: slategray; color: white; border-radius: 3px; padding: 10px; }
.fields-grid .dark { background-color: darkslategray; color: white; }
.vonzipper { grid-area: 1 / 1 / span 2 / span 4; }
.hyperball { grid-area: 1 / 5 / span 2 / span 3; }
.pipes { grid-area: 1 / 8 / span 2 / span 4; }
.bunker { grid-area: 1 / 12 / span 3 / span 5; }
.speedball { grid-area: 3 / 1 / span 2 / span 5; }
.fiftycal { grid-area: 3 / 6 / span 2 / span 2; }
.urban { grid-area: 3 / 8 / span 3 / span 4; }
.tree { grid-area: 4 / 12 / span 2 / span 5; }
.bleachers { grid-area: 5 / 1 / span 1 / span 3; }
.nerf { grid-area: 5 / 4 / span 1 / span 3; }
.chrono { grid-area: 5 / 7 / span 6 / span 1; }
.lot { grid-area: 6 / 1 / span 5 / span 6; }
.shed { z-index: 10; grid-area: 8 / 2 / span 2 / span 1; }
.picnic1 { z-index: 10; grid-area: 7 / 4 / span 1 / span 2; }
.proshop { z-index: 10; grid-area: 8 / 4 / span 1 / span 2; }
.picnic2 { z-index: 10; grid-area: 9 / 4 / span 1 / span 2; }
.junkyard { grid-area: 6 / 8 / span 5 / span 4; }
.spools { grid-area: 6 / 12 / span 5 / span 5; }

@media only screen and (max-width: 850px) {
	.picnic1 p, .proshop p, .picnic2 p { display: none; }
}

/* Grid containers */
.grid-example { margin-bottom: 1em; }
.grid-example .grid { display: grid; grid-template-columns: repeat(3, 1fr); background: lightgray; height: 75px; }
.grid-example .grid.justify.content { grid-template-columns: repeat(3, 25%); }
.grid-example .grid.align.content { grid-template: repeat(2, 35%) / repeat(3, 1fr); height: 100px;}
.grid-example .grid.justify.content.stretch { grid-template-columns: auto 60px 60px; }
.grid-example .grid.align.content.stretch { grid-template-rows: auto auto; }
.grid-example .box { padding: 0.5em; color: white; font: bold 1rem Arial; text-align: center;}

/* Grid box items */
.grid-example .justify.item .box { background-color: dodgerblue; border: 1px solid #1a82f0; }
.grid-example .justify.content .box { background-color: darkkhaki; border: 1px solid #a9a668; }
.grid-example .align.item .box { background-color: darkseagreen; border: 1px solid #7aaf7a; }
.grid-example .align.content .box { background-color: lightcoral; border: 1px solid #ec5f5f; }
.grid-example .justify.self .box { background-color: thistle; border: 1px solid #cfb0cf; width: 75%; height: 75%; }
.grid-example .align.self .box { background-color: lightsalmon; border: 1px solid #ff9166; width: 75%; height: 75%; }

/* Grid examples */
.grid-example .justify.item.start { justify-items: start; }
.grid-example .justify.item.end { justify-items: end; }
.grid-example .justify.item.center { justify-items: center; }
.grid-example .justify.item.stretch { justify-items: stretch; }

.grid-example .justify.content.start { justify-content: start; }
.grid-example .justify.content.end { justify-content: end; }
.grid-example .justify.content.center { justify-content: center; }
.grid-example .justify.content.stretch { justify-content: stretch; }
.grid-example .justify.content.space-around { justify-content: space-around; }
.grid-example .justify.content.space-between { justify-content: space-between; }
.grid-example .justify.content.space-evenly { justify-content: space-evenly; }

.grid-example .align.item.start { align-items: start; }
.grid-example .align.item.end { align-items: end; }
.grid-example .align.item.center { align-items: center; }
.grid-example .align.item.stretch { align-items: stretch; }

.grid-example .align.content.start { align-content: start; }
.grid-example .align.content.end { align-content: end; }
.grid-example .align.content.center { align-content: center; }
.grid-example .align.content.stretch { align-content: stretch; }
.grid-example .align.content.space-around { align-content: space-around; }
.grid-example .align.content.space-between { align-content: space-between; }
.grid-example .align.content.space-evenly { align-content: space-evenly; }

.grid-example .justify.self.start .box { justify-self: start; }
.grid-example .justify.self.end .box { justify-self: end; }
.grid-example .justify.self.center .box { justify-self: center; }
.grid-example .justify.self.stretch .box { justify-self: stretch; width: auto; }

.grid-example .align.self.start .box { align-self: start; }
.grid-example .align.self.end .box { align-self: end; }
.grid-example .align.self.center .box { align-self: center; }
.grid-example .align.self.stretch .box { align-self: stretch; height: auto; }

/* ################################### STICKY STYLES ################################### */

#results { border: 1px solid lightgray; height: 300px; overflow-y: scroll; }
#results .top-container { background-color: #f1f1f1; padding: 1em; text-align: center; }
#results .header { padding: 10px 16px; background: #555; color: #f1f1f1; position: sticky; top: 0; }
#results .header h2 { font-size: 1.25rem; }
#results .content { padding: 16px; }
#results .sticky { position: fixed; top: 0; width: 100%; }
#results .sticky + .content { padding-top: 102px; }	

/* ################################## DATE/TIME STYLES ################################# */

.date-sticky { position: fixed; top: 80px; width: calc(100% - 3rem); box-shadow: 0 0 20px gray; }
.date-sticky-follow { margin-top: 87px; }

@media only screen and (min-width: 768px) {
	.date-sticky { width: calc(83.333333333% - 3rem); }
}