/* ################################## GLOBAL STYLES ################################## */

body { margin: 0; border: 0; }
div.container { margin-bottom: 2em; }
main { margin-top: 5em!important; }

/* Type styles */
h1 { font: bold 2rem Arial, sans-serif; }
h2 { font: bold 1.5rem Arial, sans-serif; padding-top: 0.75em; }
h3 { font: bold 1.25rem Arial, sans-serif; padding-top: 0.5em; }
h4 { font: bold 1.1rem Arial, sans-serif; padding-top: 0.5em; }
h5 { font: bold 1rem Arial, sans-serif; padding-top: 0.25em; }

img.logo { max-width: 2em; height: auto; }
.copyright { position: fixed; bottom: 1em; left: 1em; color: #737373; font-size: 0.85em; display: none; }
.navbar-brand { margin-right: 0; }
.navbar-text h1 { text-align: left; font: bold 1rem Arial, sans-serif; color: white; margin: 0 1em; }

.sidebar-sticky { padding-top: 1.5rem; }
.sidebar-heading { font-size: 1rem; }
.sidebar .nav-link.active { color: #006fe7!important; position: relative; }
.sidebar .nav-link.active::before { content: '\00BB';  position: absolute; left: 20px; bottom: 1px; }
li.nav-item a.nav-link { padding: 0.5rem 1rem 0 2rem; line-height: 1rem; }
li.nav-item a.nav-link:focus, li.nav-item a.nav-link:hover { text-decoration: underline; }
nav.mobile-nav { position: fixed; top: 48px; z-index: 100;}
#navbar-container-mbl .sidebar-heading { font-size: 1.25rem; }
#navbar-container-mbl li.nav-item a.nav-link { font-size: 1rem; }

figure img { max-width: 100%; }
figure figcaption { text-align: center; max-width: 80%; margin: 0 auto; font-size: 0.9em; }

.sources h2 { font-size: 1.25em; }
.sources p { font-size: 0.9em; margin-left: 3em; text-indent: -3em; }

/* ################################## GENERAL STYLES ################################## */

#qa-qc-container .form-check { margin-left: 1.5em; }
table.definitions td:nth-of-type(1) { font-weight: bold; }
.stats-chart { width: 100%; height: auto; }
#color-palette { text-align: center; }
#color-palette p { line-height: 2.5em; }
#color-palette span { border: 1px solid black; padding: 4px 8px; }
.form-table th:nth-of-type(even), .form-table td:nth-of-type(even) { display: none; }

/* ################################## MEDIA QUERIES ################################## */

@media only screen and (min-width: 576px) {
	#color-palette { text-align: left; }
	#color-palette p { line-height: 1.5em; }
}

@media only screen and (min-width: 768px) {
	main { margin-top: 1em!important; }
}

@media only screen and (min-width: 900px) {
	.copyright { display: block; }
	.form-table th:nth-of-type(4), .form-table td:nth-of-type(4) { display: table-cell; }
}

@media only screen and (min-width: 1200px) {
	.form-table th:nth-of-type(even), .form-table td:nth-of-type(even) { display: table-cell; }
}

/* ################################## FLEXBOX STYLES ################################## */

#flexbox-container h2, #flexbox-container h3 { text-align: center; padding-top: 0 }
#flexbox-container h3 { font-weight: normal; }

/* Flex containers */
.flex-example { margin-bottom: 1em; }
.flex { display: flex; background: lightgray; height: 100px; flex-wrap: wrap; }
.flex.items.align, .flex.item-specific.align { justify-content: space-evenly; }
.box { padding: 0.5em; color: white; font: bold 1rem Arial; text-align: center;}

/* Flex box items */
.content.justify .box { background-color: dodgerblue; border: 1px solid #1a82f0; align-self: stretch; }
.content.align .box { background-color: darkkhaki; border: 1px solid #a9a668; }
.items.align .box { background-color: darkseagreen; border: 1px solid #7aaf7a; }
.item-specific.align .box { background-color: lightcoral; border: 1px solid #ec5f5f; }
.flex-flow-ex .box { background-color: thistle; border: 1px solid #cfb0cf; }
.flex-shorthand-ex .box { background-color: lightsalmon; border: 1px solid #ff9166; }

/* Flex examples */
.content.justify.start { justify-content: flex-start; }
.content.justify.end { justify-content: flex-end; }
.content.justify.center { justify-content: center; }
.content.justify.between { justify-content: space-between; }
.content.justify.around { justify-content: space-around; }
.content.justify.evenly { justify-content: space-evenly; }

.content.align.start { align-content: flex-start; }
.content.align.end { align-content: flex-end; }
.content.align.center { align-content: center; }
.content.align.between { align-content: space-between; }
.content.align.around { align-content: space-around; }
.content.align.evenly { align-content: space-evenly; }

.items.align.start { justify-content: space-evenly; align-items: flex-start; }
.items.align.end { justify-content: space-evenly; align-items: flex-end; }
.items.align.center { justify-content: space-evenly; align-items: center; }
.items.align.stretch { justify-content: space-evenly; align-items: stretch; }
.items.align.baseline { justify-content: space-evenly; align-items: baseline; }
.items.align.baseline .box:nth-of-type(1) { font-size: 2rem; }
.items.align.baseline .box:nth-of-type(2) { font-size: 1.5rem; }

.item-specific.align .start { align-self: flex-start; }
.item-specific.align .end { align-self: flex-end; }
.item-specific.align .center { align-self: center; }
.item-specific.align .stretch { align-self: stretch; }

.flex-flow-ex.ex-wrap { flex-wrap: wrap; }
.flex-flow-ex.ex-wrap-rev { flex-wrap: wrap-reverse; }
.flex-flow-ex.ex-row { flex-direction: row; }
.flex-flow-ex.ex-row-rev { flex-direction: row-reverse; }
.flex-flow-ex.ex-col { flex-direction: column; }
.flex-flow-ex.ex-col-rev { flex-direction: column-reverse; }

.flex-shorthand-ex.shrink, .flex-shorthand-ex.basis, .flex-shorthand-ex.shorthand { flex-wrap: nowrap; }
.flex-shorthand-ex.grow .grow-1 { flex-grow: 1; }
.flex-shorthand-ex.grow .grow-2 { flex-grow: 2; }
.flex-shorthand-ex.grow .grow-3 { flex-grow: 3; }
.flex-shorthand-ex.shrink .box { width: 40%; }
.flex-shorthand-ex.shrink .shrink-1 { flex-shrink: 1; }
.flex-shorthand-ex.shrink .shrink-2 { flex-shrink: 2; }
.flex-shorthand-ex.shrink .shrink-3 { flex-shrink: 3; }
.flex-shorthand-ex.shrink .shrink-0 { flex-shrink: 0; }
.flex-shorthand-ex.basis .box:nth-of-type(1) { flex-basis: 300px; }
.flex-shorthand-ex.basis .box:nth-of-type(2) { flex-basis: 20%; }
.flex-shorthand-ex.basis .box:nth-of-type(3) { flex-basis: 600px; }
.flex-shorthand-ex.basis .box:nth-of-type(4) { flex-basis: auto; }
.flex-shorthand-ex.shorthand .box:nth-of-type(1) { flex: 1 0 200px; }
.flex-shorthand-ex.shorthand .box:nth-of-type(2) { flex: 0 3 20%; }
.flex-shorthand-ex.shorthand .box:nth-of-type(3) { flex: 2 1 200px; }
.flex-shorthand-ex.shorthand .box:nth-of-type(4) { flex: 4 1 auto; }